@CHARSET "UTF-8";
/*
 * style.css
 */
body {
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: rgb(211, 102, 12) !important;
  font-weight: bold !important;
}

a:hover {
  color: rgb(243, 130, 34) !important;
}

.orange{
	color: rgb(211, 102, 12) !important;
}

.white{
  color: white !important;
}

.black{
  color: black !important;
}

.bg-orange{
  background-color: rgb(243, 130, 34) !important;
}

.border-orange-2{
  border: 1px solid color: rgb(211, 102, 12) !important;
}

.jumbotron-custom{
	background: url(../img/index/banner.png);
	background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  padding-bottom: 200px;
}

.jumbotron-custom h1{
	color: white;
	text-shadow: 1px 1px black;
	font-weight: bold;
}

.table-custom {
  text-align: center;
}